@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.5;
  font-size: 12px; }

#main-wrapper {
  min-height: 700px;
  width: 100%;
  margin: auto; }

.vegas-container,
.vegas-wrapper {
  margin: 0 auto;
  width: 590px;
  height: 420px;
  float: left;
  text-align: center; }

.header-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px; }
  .header-wrapper .header-left {
    margin: 0 auto;
    width: 40%;
    float: left;
    text-align: right; }
  .header-wrapper .header-right {
    margin: 0 auto;
    width: 60%;
    float: right;
    text-align: left; }

.vegas-wrapper,
.vegas-overlay,
.vegas-timer,
.vegas-slide,
.vegas-slide-inner {
  position: absolute;
  top: 30px;
  left: 20px;
  bottom: 0;
  right: 0;
  border: none;
  padding: 0;
  margin: 0; }

.vegas-timer {
  top: auto;
  bottom: 0;
  height: 2px; }

.vegas-timer-progress {
  width: 0%;
  height: 100%;
  background: white;
  transition: width ease-out; }

.vegas-timer-running .vegas-timer-progress {
  width: 100%; }

.vegas-slide,
.vegas-slide-inner {
  margin: 0;
  padding: 0;
  background: transparent center center no-repeat;
  transform: translateZ(0); }

body .vegas-container {
  overflow: hidden !important;
  position: relative; }

.vegas-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; }

body.vegas-container {
  overflow: auto;
  position: static;
  z-index: -2; }

body.vegas-container > .vegas-timer,
body.vegas-container > .vegas-overlay,
body.vegas-container > .vegas-slide {
  position: fixed;
  z-index: -1; }

/* Target Safari IOS7+ in order to add 76px */
_::full-page-media, _:future,
:root body.vegas-container > .vegas-slide,
:root body.vegas-container > .vegas-overlay {
  bottom: -76px; }

/*************************
    Transitions
 *************************/
fade
.vegas-transition-fade,
.vegas-transition-fade2 {
  opacity: 0; }

.vegas-transition-fade-in,
.vegas-transition-fade2-in {
  opacity: 1; }

.vegas-transition-fade2-out {
  opacity: 0; }

blur
.vegas-transition-blur,
.vegas-transition-blur2 {
  opacity: 0;
  filter: blur(32px); }

.vegas-transition-blur-in,
.vegas-transition-blur2-in {
  opacity: 1;
  filter: blur(0px); }

.vegas-transition-blur2-out {
  opacity: 0; }

flash
.vegas-transition-flash,
.vegas-transition-flash2 {
  opacity: 0;
  filter: brightness(25); }

.vegas-transition-flash-in,
.vegas-transition-flash2-in {
  opacity: 1;
  filter: brightness(1); }

.vegas-transition-flash2-out {
  opacity: 0;
  filter: brightness(25); }

negative
.vegas-transition-negative,
.vegas-transition-negative2 {
  opacity: 0;
  filter: invert(100%); }

.vegas-transition-negative-in,
.vegas-transition-negative2-in {
  opacity: 1;
  filter: invert(0); }

.vegas-transition-negative2-out {
  opacity: 0;
  filter: invert(100%); }

/* burn */
.vegas-transition-burn,
.vegas-transition-burn2 {
  opacity: 0;
  filter: contrast(1000%) saturate(1000%); }

.vegas-transition-burn-in,
.vegas-transition-burn2-in {
  opacity: 1;
  filter: contrast(100%) saturate(100%); }

.vegas-transition-burn2-out {
  opacity: 0;
  filter: contrast(1000%) saturate(1000%); }

/* slideLeft */
.vegas-transition-slideLeft,
.vegas-transition-slideLeft2 {
  transform: translateX(100%); }

.vegas-transition-slideLeft-in,
.vegas-transition-slideLeft2-in {
  transform: translateX(0%); }

.vegas-transition-slideLeft2-out {
  transform: translateX(-100%); }

/* slideRight */
.vegas-transition-slideRight,
.vegas-transition-slideRight2 {
  transform: translateX(-100%); }

.vegas-transition-slideRight-in,
.vegas-transition-slideRight2-in {
  transform: translateX(0%); }

.vegas-transition-slideRight2-out {
  transform: translateX(100%); }

/* slideUp */
.vegas-transition-slideUp,
.vegas-transition-slideUp2 {
  transform: translateY(100%); }

.vegas-transition-slideUp-in,
.vegas-transition-slideUp2-in {
  transform: translateY(0%); }

.vegas-transition-slideUp2-out {
  transform: translateY(-100%); }

/* slideDown */
.vegas-transition-slideDown,
.vegas-transition-slideDown2 {
  transform: translateY(-100%); }

.vegas-transition-slideDown-in,
.vegas-transition-slideDown2-in {
  transform: translateY(0%); }

.vegas-transition-slideDown2-out {
  transform: translateY(100%); }

zoomIn
.vegas-transition-zoomIn,
.vegas-transition-zoomIn2 {
  transform: scale(0);
  opacity: 0; }

.vegas-transition-zoomIn-in,
.vegas-transition-zoomIn2-in {
  transform: scale(1);
  opacity: 1; }

.vegas-transition-zoomIn2-out {
  transform: scale(2);
  opacity: 0; }

zoomOut
.vegas-transition-zoomOut,
.vegas-transition-zoomOut2 {
  transform: scale(2);
  opacity: 0; }

.vegas-transition-zoomOut-in,
.vegas-transition-zoomOut2-in {
  transform: scale(1);
  opacity: 1; }

.vegas-transition-zoomOut2-out {
  transform: scale(0);
  opacity: 0; }

swirlLeft
.vegas-transition-swirlLeft,
.vegas-transition-swirlLeft2 {
  transform: scale(2) rotate(35deg);
  opacity: 0; }

.vegas-transition-swirlLeft-in,
.vegas-transition-swirlLeft2-in {
  transform: scale(1) rotate(0deg);
  opacity: 1; }

.vegas-transition-swirlLeft2-out {
  transform: scale(2) rotate(-35deg);
  opacity: 0; }

swirlRight
.vegas-transition-swirlRight,
.vegas-transition-swirlRight2 {
  transform: scale(2) rotate(-35deg);
  opacity: 0; }

.vegas-transition-swirlRight-in,
.vegas-transition-swirlRight2-in {
  transform: scale(1) rotate(0deg);
  opacity: 1; }

.vegas-transition-swirlRight2-out {
  transform: scale(2) rotate(35deg);
  opacity: 0; }

/************************
    Animations
 ************************/
.vegas-animation-kenburns {
  animation: kenburns ease-out; }

@keyframes kenburns {
  0% {
    transform: scale(1.5); }
  100% {
    transform: scale(1.5); } }
.vegas-animation-kenburnsUp {
  animation: kenburnsUp ease-out; }

@keyframes kenburnsUp {
  0% {
    transform: scale(1.5) translate(0, 10%); }
  100% {
    transform: scale(1.5) translate(0, 0); } }
.vegas-animation-kenburnsDown {
  animation: kenburnsDown ease-out; }

@keyframes kenburnsDown {
  0% {
    transform: scale(1.5) translate(0, -10%); }
  100% {
    transform: scale(1.5) translate(0, 0); } }
.vegas-animation-kenburnsLeft {
  animation: kenburnsLeft ease-out; }

@keyframes kenburnsLeft {
  0% {
    transform: scale(1.5) translate(10%, 0); }
  100% {
    transform: scale(1.5) translate(0, 0); } }
.vegas-animation-kenburnsRight {
  animation: kenburnsRight ease-out; }

@keyframes kenburnsRight {
  0% {
    transform: scale(1.5) translate(-10%, 0); }
  100% {
    transform: scale(1.5) translate(0, 0); } }
.vegas-animation-kenburnsUpLeft {
  animation: kenburnsUpLeft ease-out; }

@keyframes kenburnsUpLeft {
  0% {
    transform: scale(1.5) translate(10%, 10%); }
  100% {
    transform: scale(1.5) translate(0, 0); } }
.vegas-animation-kenburnsUpRight {
  animation: kenburnsUpRight ease-out; }

@keyframes kenburnsUpRight {
  0% {
    transform: scale(1.5) translate(-10%, 10%); }
  100% {
    transform: scale(1.5) translate(0, 0); } }
.vegas-animation-kenburnsDownLeft {
  animation: kenburnsDownLeft ease-out; }

@keyframes kenburnsDownLeft {
  0% {
    transform: scale(1.5) translate(10%, -10%); }
  100% {
    transform: scale(1.5) translate(0, 0); } }
.vegas-animation-kenburnsDownRight {
  animation: kenburnsDownRight ease-out; }

@keyframes kenburnsDownRight {
  0% {
    transform: scale(1.5) translate(-10%, -10%); }
  100% {
    transform: scale(1.5) translate(0, 0); } }
body {
  font-family: Raleway;
  font-weight: 900;
  color: #fff;
  background: #000; }

h1, h2, p, strong {
  margin: 5px 0;
  padding: 0;
  margin-right: 130px;
  line-height: 1em;
  text-align: right; }

h1 {
  font-size: 5.5em;
  letter-spacing: -10px;
  margin-bottom: -10px; }

h1 strong {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 235px;
  opacity: .5;
  margin: 0; }

h2 {
  opacity: .6;
  font-size: 1.7em; }

p {
  font-size: 2em; }

header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999;
    margin-left: 0; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      font-weight: 400;
      text-decoration: none; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 10px; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 10px; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: rgba(255, 255, 255, 0.7); }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 10px; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 5px; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -10px;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 150px -110px;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 10px;
            text-align: left;
            width: 150px; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }
  header.navigation .search-bar {
    float: right;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;
    margin-left: 150px; }
    header.navigation .search-bar form {
      position: relative; }
      header.navigation .search-bar form input[type=search] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #404040;
        border-radius: 6px;
        border: 1px solid #262626;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation .search-bar form input[type=search] {
            width: 100%; } }
      header.navigation .search-bar form button[type=submit] {
        background: #404040;
        border: none;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em; }
        header.navigation .search-bar form button[type=submit] img {
          height: 12px;
          opacity: 0.7;
          padding: 1px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 16em; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

.footer {
  background: #40526b;
  padding: 3em 2.9375em;
  width: 100%; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
  /*   @include clearfix;
  margin-bottom: $base-spacing;

  @include media($medium-screen) {
    @include shift(3);
  } */
    margin-left: 30%; }
  .footer ul {
    margin-bottom: 3em;
    padding: 0; }
    @media screen and (min-width: 40em) {
      .footer ul {
        float: left;
        display: block;
        margin-right: 3.53311%;
        width: 22.35017%; }
        .footer ul:last-child {
          margin-right: 0; }
        .footer ul:nth-child(3n) {
          margin-right: 0; }
        .footer ul:nth-child(3n+1) {
          clear: left; }
        .footer ul::after {
          clear: both;
          content: "";
          display: table; } }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
    @media screen and (min-width: 40em) {
      .footer li {
        text-align: left; } }
  .footer li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer li a:focus, .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.footer-links {
  margin-left: 30%; }

.copy a {
  text-decoration: none;
  color: #7E848E; }

.content-container {
  height: 550px;
  background-color: #333; }

.grid-items-lines {
  /*   .grid-item a:focus,
  .grif-item a:hover,
  .grid-item p:focus,
  .grif-item p:hover,
  .grid-item h1:focus,
  .grif-item h1:hover {
    color: transparentize(#fff, 0.5);
  }
   */ }
  .grid-items-lines .grid-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: white;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer;
    float: left;
    height: 14em;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .grid-items-lines .grid-item {
        width: 33.33333%; } }
    .grid-items-lines .grid-item:focus, .grid-items-lines .grid-item:hover {
      background: rgba(64, 82, 107, 0.955);
      color: #fff; }
  .grid-items-lines .grid-item img {
    display: block;
    height: 2.5em;
    margin-bottom: 1.2em;
    opacity: 0.2; }
  .grid-items-lines .grid-item h1 {
    color: #40526B;
    font-size: 1.3em;
    margin-bottom: 0.4em; }
  .grid-items-lines .grid-item p {
    color: rgba(64, 82, 107, 0.6);
    line-height: 1.5em; }
    @media screen and (min-width: 40em) {
      .grid-items-lines .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 53.75em) {
    .grid-items-lines .grid-item-big {
      width: 66.66667%; } }
  @media screen and (min-width: 40em) {
    .grid-items-lines .grid-item-big p {
      max-width: 60%; } }

/* .bottom-cover {
  background: #40526B;
  bottom: 0px;
  height: 3px;
  position: absolute;
  width: 100%;
}

.right-cover {
  background: #40526B;
  height: 100%;
  position: absolute;
  right: 0px;
  width: 4px;
}
 */
.content-container a,
.content-container p,
.content-container div,
.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container img {
  color: #000;
  /* font-size: 16px; */
  font-weight: 100;
  line-height: 1; }

/*# sourceMappingURL=main.css.map */
