@import 'bourbon/bourbon';
$visual-grid: false;
$gutter: em(47px);
@import 'neat/neat';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.5;
  font-size: 12px;
}

#main-wrapper {
  min-height: 700px;
  width: 100%;
  margin: auto;
}

.vegas-container,
.vegas-wrapper {
  margin: 0 auto;
  width: 590px;
  height: 420px;
  float: left;
  text-align: center;
}

.header-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;

  .header-left {
    margin: 0 auto;
    width: 40%;
    float: left;
    text-align: right;
  }

  .header-right {
    margin: 0 auto;
    width: 60%;
    float: right;
    text-align: left;
  }
}

.vegas-wrapper,
.vegas-overlay,
.vegas-timer,
.vegas-slide,
.vegas-slide-inner {
    position: absolute;
    top: 30px;
    left: 20px;
    bottom: 0;
    right: 0;
    border: none;
    padding: 0;
    margin: 0;
}

.vegas-timer {
    top: auto;
    bottom: 0;
    height: 2px;
}
    .vegas-timer-progress {
        width: 0%;
        height: 100%;
        background: white;
        transition: width ease-out;
    }
        .vegas-timer-running .vegas-timer-progress {
            width: 100%;
        }

.vegas-slide,
.vegas-slide-inner {
    margin: 0;
    padding: 0;
    background: transparent center center no-repeat;
    transform: translateZ(0);
}

body .vegas-container {
    overflow: hidden !important;
    position: relative;
}

.vegas-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

body.vegas-container {
    overflow: auto;
    position: static;
    z-index: -2;
}
    body.vegas-container > .vegas-timer,
    body.vegas-container > .vegas-overlay,
    body.vegas-container > .vegas-slide {
        position: fixed;
        z-index: -1;
    }

    /* Target Safari IOS7+ in order to add 76px */
    _::full-page-media, _:future,
    :root body.vegas-container > .vegas-slide,
    :root body.vegas-container > .vegas-overlay {
        bottom: -76px;
    }

/*************************
    Transitions
 *************************/

fade
.vegas-transition-fade,
.vegas-transition-fade2 {
    opacity: 0;
}

.vegas-transition-fade-in,
.vegas-transition-fade2-in {
    opacity: 1;
}

.vegas-transition-fade2-out {
    opacity: 0;
}

blur
.vegas-transition-blur,
.vegas-transition-blur2 {
    opacity: 0;
    filter: blur(32px);
}

.vegas-transition-blur-in,
.vegas-transition-blur2-in {
    opacity: 1;
    filter: blur(0px);
}

.vegas-transition-blur2-out {
    opacity: 0;
}

flash
.vegas-transition-flash,
.vegas-transition-flash2 {
    opacity: 0;
    filter: brightness(25);
}

.vegas-transition-flash-in,
.vegas-transition-flash2-in {
    opacity: 1;
    filter: brightness(1);
}

.vegas-transition-flash2-out {
    opacity: 0;
    filter: brightness(25);
}

negative
.vegas-transition-negative,
.vegas-transition-negative2 {
    opacity: 0;
    filter: invert(100%);
}

.vegas-transition-negative-in,
.vegas-transition-negative2-in {
    opacity: 1;
    filter: invert(0);
}

.vegas-transition-negative2-out {
    opacity: 0;
    filter: invert(100%);
}

/* burn */
.vegas-transition-burn,
.vegas-transition-burn2 {
    opacity: 0;
    filter: contrast(1000%) saturate(1000%);
}

.vegas-transition-burn-in,
.vegas-transition-burn2-in {
    opacity: 1;
    filter: contrast(100%) saturate(100%);
}

.vegas-transition-burn2-out {
    opacity: 0;
    filter: contrast(1000%) saturate(1000%);
}

/* slideLeft */
.vegas-transition-slideLeft,
.vegas-transition-slideLeft2 {
    transform: translateX(100%);
}

.vegas-transition-slideLeft-in,
.vegas-transition-slideLeft2-in {
    transform: translateX(0%);
}

.vegas-transition-slideLeft2-out {
    transform: translateX(-100%);
}

/* slideRight */
.vegas-transition-slideRight,
.vegas-transition-slideRight2 {
    transform: translateX(-100%);
}

.vegas-transition-slideRight-in,
.vegas-transition-slideRight2-in {
    transform: translateX(0%);
}

.vegas-transition-slideRight2-out {
    transform: translateX(100%);
}

/* slideUp */
.vegas-transition-slideUp,
.vegas-transition-slideUp2 {
    transform: translateY(100%);
}

.vegas-transition-slideUp-in,
.vegas-transition-slideUp2-in {
    transform: translateY(0%);
}

.vegas-transition-slideUp2-out {
    transform: translateY(-100%);
}

/* slideDown */
.vegas-transition-slideDown,
.vegas-transition-slideDown2 {
    transform: translateY(-100%);
}

.vegas-transition-slideDown-in,
.vegas-transition-slideDown2-in {
    transform: translateY(0%);
}

.vegas-transition-slideDown2-out {
    transform: translateY(100%);
}

zoomIn
.vegas-transition-zoomIn,
.vegas-transition-zoomIn2 {
    transform: scale(0);
    opacity: 0;
}

.vegas-transition-zoomIn-in,
.vegas-transition-zoomIn2-in {
    transform: scale(1);
    opacity: 1;
}

.vegas-transition-zoomIn2-out {
    transform: scale(2);
    opacity: 0;
}

zoomOut
.vegas-transition-zoomOut,
.vegas-transition-zoomOut2 {
    transform: scale(2);
    opacity: 0;
}

.vegas-transition-zoomOut-in,
.vegas-transition-zoomOut2-in {
    transform: scale(1);
    opacity: 1;
}

.vegas-transition-zoomOut2-out {
    transform: scale(0);
    opacity: 0;
}

swirlLeft
.vegas-transition-swirlLeft,
.vegas-transition-swirlLeft2 {
    transform: scale(2) rotate(35deg);
    opacity: 0;
}

.vegas-transition-swirlLeft-in,
.vegas-transition-swirlLeft2-in {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

.vegas-transition-swirlLeft2-out {
    transform: scale(2) rotate(-35deg);
    opacity: 0;
}

swirlRight
.vegas-transition-swirlRight,
.vegas-transition-swirlRight2 {
    transform: scale(2) rotate(-35deg);
    opacity: 0;
}

.vegas-transition-swirlRight-in,
.vegas-transition-swirlRight2-in {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

.vegas-transition-swirlRight2-out {
    transform: scale(2) rotate(35deg);
    opacity: 0;
}

/************************
    Animations
 ************************/

.vegas-animation-kenburns {
    animation: kenburns ease-out;
}
@keyframes kenburns {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.5);
    }
}

.vegas-animation-kenburnsUp {
    animation: kenburnsUp ease-out;
}
@keyframes kenburnsUp {
    0% {
        transform: scale(1.5) translate(0, 10%);
    }
    100% {
        transform: scale(1.5) translate(0, 0);
    }
}

.vegas-animation-kenburnsDown {
    animation: kenburnsDown ease-out;
}
@keyframes kenburnsDown {
    0% {
        transform: scale(1.5) translate(0, -10%);
    }
    100% {
        transform: scale(1.5) translate(0, 0);
    }
}

.vegas-animation-kenburnsLeft {
    animation: kenburnsLeft ease-out;
}
@keyframes kenburnsLeft {
    0% {
        transform: scale(1.5) translate(10%, 0);
    }
    100% {
        transform: scale(1.5) translate(0, 0);
    }
}

.vegas-animation-kenburnsRight {
    animation: kenburnsRight ease-out;
}
@keyframes kenburnsRight {
    0% {
        transform: scale(1.5) translate(-10%, 0);
    }
    100% {
        transform: scale(1.5) translate(0, 0);
    }
}

.vegas-animation-kenburnsUpLeft {
    animation: kenburnsUpLeft ease-out;
}
@keyframes kenburnsUpLeft {
    0% {
        transform: scale(1.5) translate(10%, 10%);
    }
    100% {
        transform: scale(1.5) translate(0, 0);
    }
}

.vegas-animation-kenburnsUpRight {
    animation: kenburnsUpRight ease-out;
}
@keyframes kenburnsUpRight {
    0% {
        transform: scale(1.5) translate(-10%, 10%);
    }
    100% {
        transform: scale(1.5) translate(0, 0);
    }
}

.vegas-animation-kenburnsDownLeft {
    animation: kenburnsDownLeft ease-out;
}
@keyframes kenburnsDownLeft {
    0% {
        transform: scale(1.5) translate(10%, -10%);
    }
    100% {
        transform: scale(1.5) translate(0, 0);
    }
}

.vegas-animation-kenburnsDownRight {
    animation: kenburnsDownRight ease-out;
}
@keyframes kenburnsDownRight {
    0% {
        transform: scale(1.5) translate(-10%, -10%);
    }
    100% {
        transform: scale(1.5) translate(0, 0);
    }
}

body {
  font-family: Raleway;
  font-weight: 900;
  color: #fff;
  background: #000;
}

h1, h2, p, strong {
  margin: 5px 0;
  padding: 0;
  margin-right: 130px;
  line-height: 1em;
  text-align: right;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 1px rgba(#000, .3),
     1px 1px 1px rgba(#000, .3),
     0 0 10px #000;
}

h1 {
  font-size: 5.5em;
  letter-spacing: -10px;
  margin-bottom: -10px;
}

h1 strong {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 235px;
  opacity: .5;
  margin: 0;
}

h2 {
  opacity: .6;
  font-size: 1.7em;
}

p {
  font-size: 2em;
}

/* a {
position: absolute;  left: 1em;
  bottom: 3em;
  border: 3px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #000;
  font-size: 13px;
  color: #fff;
  animation: pulse 4s infinite;

  @media screen and (max-width: 720px) {
    display: none;
  }
}

.container {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.vegas-overlay {
  opacity: .2;
}

.vegas-timer-progress {
  background: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

 */
header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 10px;
  $navigation-submenu-width: 150px;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
    margin-left: 0;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width -110px;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;

    @include media($horizontal-bar-mode) {
      background: transparent;
      clear: none;
      float: right;
    }
  }

  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: right;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;
    margin-left: 150px;

    form {
      position: relative;

      input[type=search] {
        @include box-sizing(border-box);
        background: $navigation-search-background;
        border-radius: $base-border-radius * 2;
        border: $navigation-search-border;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        @include media($horizontal-bar-mode) {
          width: 100%;
        }
      }

      button[type=submit] {
        background: $navigation-search-background;
        border: none;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      display: inline-block;
      position: relative;
      width: 16em;

      input {
        @include box-sizing(border-box);
        display: block;
      }
    }
  }
}

.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-links {
  /*   @include clearfix;
  margin-bottom: $base-spacing;

  @include media($medium-screen) {
    @include shift(3);
  } */
  margin-left: 30%;
  }

  ul {
    margin-bottom: $base-spacing * 2;
    padding: 0;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

.footer-links {
  margin-left: 30%;
}

.copy a {
  text-decoration: none;
  color: #7E848E;
}

.content-container {
  height: 650px;
  background-color: #333;
}


@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, 0.8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 14em;

  @include clearfix;
  position: relative;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:focus,
    &:hover {
      background: transparentize($grid-item-color, 0.95);
    }
  }

  .grid-item img {
      display: block;
      height: 2.5em;
      margin-bottom: 1.2em;
      opacity: 0.2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, 0.4);
      line-height: 1.5em;

      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }
}

.content-container a,
.content-container p,
.content-container div,
.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container img {
  color: #000;
  font-size: 16px;
  font-weight: 100;
  line-height: 1;
}
